{% extends 'base.html.twig' %}

{% block title %}Agregar Proveedor{% endblock %}

{% block body %}
  <div class="container content">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="mb-4">Agregar Proveedor</h2>

        {{ include('provider/_form.html.twig', {'button_label': 'Guardar'}) }}

        <hr>
        <a class="btn btn-primary" href="{{ path('app_provider_index') }}">Volver al listado</a>
      </div>
    </div>
  </div>
  
{% endblock %}
